<h1> Edit article </h1>
<div class="container new-article-main-view">

<%= render 'articles/form' %>

</div>
<button class="btn btn-outline-success my-2 my-sm-0 create-article">
    <%= link_to 'Cancel edit', articles_path%>
</button>