<h1 class="center-align"> New article </h1>

<div class="container new-article-main-view">
<%= render 'form' %>

</div>

<p class="view-all-articles"> 
    [<%= link_to ' Cancel and return to articles', articles_path%>]
</p>

