<div class='container' id='home-container'>
    <div class="jumbotron" id='bckg-img'>
        <h1 class="display-4 white-font">Welcome!</h1>
        <p class="lead white-font">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p class="white-font">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <%= link_to 'Sign up', signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>